portfolio-toolbar {
    display: flex;
    gap: 1em;

    position: fixed;

    padding: 1.5em;
    border-radius: 0.3em;
    border: 0.3em;
    background-color: white;

    z-index: 2;
}

portfolio-toolbar.bottom-toolbar {
    flex-direction: row;

    bottom: 2.5em;
    left: 15vw;
    right: 15vw;
}

portfolio-toolbar.left-toolbar {
    flex-direction: column;

    left: 2.5em;
    top: 50%;
    transform: translate(0, -50%);
}
