portfolio-toolbar {
    position: fixed;

    display: flex;
    flex-direction: row;
    gap: var(--toolbar-gap);

    bottom: var(--toolbar-bottom-offset);
    left: 50%;
    transform: translateX(-50%);

    padding: var(--toolbar-padding);
    border-radius: var(--card-content-radius);

    border: var(--card-border-width) solid var(--card-border-color);
    background: var(--transparent-gradient-dark);
    backdrop-filter: blur(var(--card-backdrop-blur));

    z-index: 2;
}

.toolbar-separator {
    width: var(--toolbar-separator-width);
    margin: var(--toolbar-separator-margin);
    background-color: var(--toolbar-separator-color);
}