portfolio-toolbar {
    position: fixed;

    display: flex;
    flex-direction: row;
    gap: var(--toolbar-gap);

    bottom: env(safe-area-inset-bottom, 0);
    margin-bottom: var(--toolbar-bottom-margin);
    padding: var(--toolbar-padding);
    border-radius: var(--card-content-radius);

    border: var(--card-border-width) solid var(--card-border-color);
    background: var(--transparent-gradient-dark);
    backdrop-filter: blur(var(--card-backdrop-blur));

    left: 50%;
    transform: translate3d(-50%, 0, 0);

    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;

    will-change: transform;
    z-index: 2;
}

.toolbar-separator {
    width: var(--toolbar-separator-width);
    margin: var(--toolbar-separator-margin);
    background-color: var(--toolbar-separator-color);
}