.portfolio-root-card {
    width: 400px;
}

.portfolio-root-card .card-title-div {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.portfolio-root-card .card-title-div > h2 {
    font-size: 3.7rem;
    font-weight: 600;
}

.portfolio-root-card .card-title-div > img {
    width: 130px;
    height: 130px;
    aspect-ratio: 1;

    border-radius: var(--card-content-radius);
}