body {
    touch-action: pan-x pan-y;
    user-select: none;
    overflow: hidden;

    background-color: #f1f8f8;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    display: block;
    position: relative;
    margin: 0;
    font-family: "Inter", sans-serif;
}

head {
    display: none;
}

.icon {
    max-width: 2.5em;
    max-height: 2.5em;
    aspect-ratio: 1;
}

.icon > svg {
    width: 100%;
    height: 100%;
}
